## Data Cleaning: Historical Trends in Patents

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('../csv/annual_historical.csv')
df

,year,total_app,nber11_inforce,nber12_inforce,nber13_inforce,nber14_inforce,nber15_inforce,nber19_inforce,nber21_inforce,nber22_inforce,...,nber80_iss,nber1_iss,nber2_iss,nber3_iss,nber4_iss,nber5_iss,nber6_iss,nber7_iss,nber8_iss,total_iss
0,1840,735,114,64,23,6,3,217,2,1,...,0,53,3,9,5,179,212,0,0,461
1,1841,847,129,70,26,6,3,236,2,1,...,0,49,0,8,9,212,213,0,0,491
2,1842,761,144,79,35,10,5,251,2,2,...,0,64,2,8,11,169,240,0,0,494
3,1843,819,156,84,36,11,7,273,2,3,...,0,56,1,11,3,176,250,0,0,497
4,1844,1045,167,89,36,13,9,300,2,3,...,0,66,0,13,4,167,228,0,0,478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2010,339106,4955,22834,7256,34931,45044,128004,192890,170999,...,57,21936,75647,21381,51229,26488,23544,0,57,220282
171,2011,357132,4847,23130,7855,35156,45314,129749,210681,188922,...,28,22720,79011,22598,50945,27039,23137,2,28,225480
172,2012,381508,4877,23849,8466,35578,45329,133332,234024,211820,...,27,24683,93733,26741,54474,28918,25613,1,27,254190
173,2013,402538,4992,24542,9229,36452,46299,137584,259772,236554,...,7,26384,103386,31067,59235,30982,28067,0,7,279128
174,2014,412861,5090,25130,9722,36985,47178,141962,285682,262399,...,0,27316,112459,33347,64827,32745,29490,1839,0,302023

In [45]:
df.columns

Index(['year', 'total_app', 'nber11_inforce', 'nber12_inforce',
       'nber13_inforce', 'nber14_inforce', 'nber15_inforce', 'nber19_inforce',
       'nber21_inforce', 'nber22_inforce',
       ...
       'nber80_iss', 'nber1_iss', 'nber2_iss', 'nber3_iss', 'nber4_iss',
       'nber5_iss', 'nber6_iss', 'nber7_iss', 'nber8_iss', 'total_iss'],
      dtype='object', length=146)

In [46]:
transposed_df = df.T
transposed_df = transposed_df.set_axis(transposed_df.iloc[0], axis=1)
transposed_df = transposed_df[1:]

In [47]:
transposed_df.reset_index(inplace=True)

In [48]:
transposed_df['subcategory_code'] = transposed_df['index'].str.extract('(\d+)')

In [49]:
transposed_df['category_code'] = transposed_df['index'].str.extract('(\d)')

In [50]:
transposed_df

year,index,1840,1841,1842,1843,1844,1845,1846,1847,1848,...,2007,2008,2009,2010,2011,2012,2013,2014,subcategory_code,category_code
0,total_app,735,847,761,819,1045,1246,1272,1531,1628,...,355866,346649,318363,339106,357132,381508,402538,412861,NaN,NaN
1,nber11_inforce,114,129,144,156,167,188,201,216,218,...,5467,5285,5048,4955,4847,4877,4992,5090,11,1
2,nber12_inforce,64,70,79,84,89,94,102,105,116,...,22758,22612,22449,22834,23130,23849,24542,25130,12,1
3,nber13_inforce,23,26,35,36,36,41,44,47,50,...,6112,6452,6781,7256,7855,8466,9229,9722,13,1
4,nber14_inforce,6,6,10,11,13,14,16,17,17,...,35289,35266,35200,34931,35156,35578,36452,36985,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,nber5_iss,179,212,169,176,167,172,193,203,237,...,22777,21346,20727,26488,27039,28918,30982,32745,5,5
141,nber6_iss,212,213,240,250,228,222,287,213,256,...,17451,16603,16821,23544,23137,25613,28067,29490,6,6
142,nber7_iss,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,1,0,1839,7,7
143,nber8_iss,0,0,0,0,0,0,0,0,0,...,2,10,39,57,28,27,7,0,8,8
144,total_iss,461,491,494,497,478,475,568,495,583,...,157461,158065,167571,220282,225480,254190,279128,302023,NaN,NaN

In [51]:
transposed_df["category_code"] = transposed_df["category_code"].astype("Int64")
transposed_df["subcategory_code"] = transposed_df["subcategory_code"].astype("Int64")

In [52]:
nber_categories = pd.read_csv("../csv/subcategories.csv")

In [53]:
nber_categories = nber_categories.drop(columns="CatNameShort")

In [54]:
nber_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Category         39 non-null     int64
 1   SubcategoryCode  39 non-null     int64
 2   SubCategory      39 non-null     object
 3   CatNameLong      39 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [55]:
merged_df = pd.merge(left=transposed_df,right=nber_categories,how='left',left_on=["subcategory_code","category_code"],right_on=["SubcategoryCode","Category"])
merged_df.drop(columns=["SubcategoryCode","Category"], inplace=True)

In [56]:
#I need to clean/update the category and subcategory labels for the entries having _max at the end.

In [57]:
merged_df.loc[40:47,"CatNameLong"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]
merged_df.loc[40:47,"SubCategory"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]

In [58]:
merged_df.loc[136:143,"CatNameLong"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]
merged_df.loc[136:143,"SubCategory"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]

In [59]:
merged_df.loc[88:95,"CatNameLong"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]
merged_df.loc[88:95,"SubCategory"] = ["Chemical","Computers & Communications","Drugs & Medical", "Electrical & Electronic","Mechanical","Others","Not Classified","Missing"]

In [61]:
merged_df.to_csv("patents us csv/patents1840-2014.csv", index=False)